.user-form {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.user-form form {
  justify-content: center;
  padding: 15px;
  background-color: #f2f2f2;
  width: max-content;
}

input[type=text],
input[type=email],
input[type=phone],
input[type=date],
select,
button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: #4CAF50;
}

button.secondary {
  background-color: chocolate;
}

.col button {
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.field-error {
  color: red;
}

.user-view {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid #000;
  border-spacing: 0;
  border-bottom: 0;
  border-right: 0;
}

tbody {
  border-bottom: 1px solid #000;
}

th,
td {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 5px 10px;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blueviolet;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

a:hover:not(.active) {
  background-color: #111;
}

a.active {
  background-color: coral;
}